DATABASE_URL=postgres://postgres:password@localhost:5432/ecoroute
ORS_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjdkNzgzYTcxN2ViMTRhMzRiMmZmNWExYTNiYWRmYmE3IiwiaCI6Im11cm11cjY0In0=
WEATHER_API_KEY=fcf7002e95d3e643697fd4f327ca1aa4
JWT_SECRET=TrustAndSilenceHoldFeelingsInAirForeverAndRareInDreams